#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: 0;
  object-fit: cover;
  filter: url('#filter-normal');
}

#caption {
  position: absolute;
  left: 5%;
  bottom: 5%;
  color: white;
  font-size: 14pt;
  text-shadow: 2px 2px #000000;
  z-index: 1;
  align-content: center;
  margin-left: 10px;
  text-align: center;
}

#buttons-container {
  position: fixed;
  z-index: 2;
  bottom: 5%;
  right: 5%;
  display: flex;
}

body {
  overflow: hidden;
}

.overlay { 
  position: fixed; 
  overflow-y: scroll;
  top: 0; right: 0; bottom: 0; left: 0; 
}

.button {
  background-color: #0000007a;
  color: white;
  font-size: 14pt;
  align-content: center;
  
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 8px;
  
  height: auto;

  border: solid white 1pt;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;

  text-align: center;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}